{% extends 'base.html' %}

{% block title%}
<title>Document</title>
{% endblock title %}

{% block content %}
<main>
    <div>
    <h1>Accounts</h1>
    {% if user.is_authenticated %}
    <table>
        <thead>
            <th>Account Name </th>
            <th>Number</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{account.name}}</td>
                <td>{{account.number}}</td>
                <td>{{account.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}
</main>
{% endblock content %}

