{% extends 'base.html' %}

{% block title%}
<title>Document</title>
{% endblock title %}

{% block content %}
<main>
    <h1>Expenses</h1>
    {% if user.is_authenticated %}
    <table>
        <thead>
            <th>Name</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{expense.name}}</td>
                <td>{{expense.receipts.all|length}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</main>
{% endblock content %}

